/*slider*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;}

.slider {
  position: relative;
  height: 80vh;
  
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto; 
}
.slide.current {
  display: inline;
  opacity: 1;
}
.ShopNow {
  width: 9vw;
  align-items: center;
  border: none;
  background-color: #1e1e2c;
  color: rgb(241, 241, 241);
  border-radius: 30px;
  font-size: 1vw;
  outline: none;
  padding: 1.2vw 0;
  transition: all ease-out 0.3s;
}
.ShopNow:hover {
  color: #1e1e2c;
  cursor: pointer;
  background-color: #ebebeb;
}
.ShopNow::before {
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  transition: all ease 0.5s;
}
.ShopNow:hover::before {
  transition: 0.5s all ease;
  border-radius: 30px;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
  box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.5);
}
/*btns */
.slide .content {
  opacity: 0;
  position: absolute;
  left: -43%;
  bottom: 10%;
  
}
.slide.current .content {
  z-index: 1;
  opacity: 1;
  transform: translateX(700px);
  transition: all 0.7s ease-in-out 0.3s;
}

.slide .titleslider {
  opacity: 0;
  position: relative;
  top: -85%; /* changed from -600px to -60% */
  left: 8%;
  font-size: 3vw;
  font-weight: 700;
}
.slide .subtitleslider {
  opacity: 0;
  position: absolute;
  top: -85%; /* changed from -600px to -60% */
  left: 8%;
  font-size: 2vw;
  font-weight: 500;
}
.slide.current .titleslider {
  opacity: 1;
  transform: translateY(870px);
  transition: all 0.7s ease-in-out 0.3s;
}
.slide.current .subtitleslider {
  opacity: 1;
  transform: translateY(970px);
  transition: all 0.7s ease-in-out 0.3s;
}


/*background Images */

.slide:first-child {
  background: url("./img/img1.png") no-repeat center top/cover;
}
.slide:nth-child(2) {
  background: url("./img/img2.jpg") no-repeat center top/cover;
}
.slide:nth-child(3) {
  background: url("./img/img3.png") no-repeat center top/cover;
}
.slide:nth-child(4) {
  background: url("./img/img4.png") no-repeat center top/cover;
}



